@use '@/index.scss' as *;

.navItem {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.4em 1em;
  font-family: inherit;
  color: $font-color-light;
  border-radius: 8px;
  transition: all 0.25s ease;

  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }
}

.active {
  text-shadow:
          0 0 4px $link-color,
          0 0 8px $link-color,
          0 0 12px $link-color;
  transform: scale(1.05);
}