@use 'sass:color';
@use '@/index.scss' as *;

.background {
  position: relative;
  min-height: 100vh;
  background-image: url('@/assets/ai-robot.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  background-color: rgba(10, 10, 30, 0.8);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 4rem;
  gap: 1rem;
  padding: 2rem;
  animation: slideIn 1s ease-out forwards;

  @keyframes slideIn {
    from {
      transform: translateX(1rem);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.stepNumber {
  position: absolute;
  top: 12rem;
  right: 0;
  font-size: 30rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  z-index: 0;
}

.animatedText {
  font-size: 3rem;
  font-weight: 1000;
  max-width: 500px;
  margin: 1rem -3rem;
  color: $font-color-light;
  animation: slideIn 1s ease-out forwards;
  opacity: 0;

  @keyframes slideIn {
    from {
      transform: translateX(5rem);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
