*.ts linguist-detectable=true
*.tsx linguist-detectable=true

*.js linguist-vendored
*.jsx linguist-vendored

dist/* linguist-vendored
build/* linguist-vendored

*.scss linguist-detectable=true
*.d.ts linguist-generated=true

*.js linguist-generated=true
*.js.map linguist-generated=true
dist/* linguist-generated=true
build/* linguist-generated=true
out/* linguist-generated=true
public/* linguist-generated=true