*.ts linguist-detectable=true
*.tsx linguist-detectable=true

*.js linguist-vendored
*.jsx linguist-vendored

dist/* linguist-vendored
build/* linguist-vendored

*.css linguist-generated=true
*.d.ts linguist-generated=true
