@use '@/index.scss' as *;

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  color: $font-color-light;
  width: 40px;
  height: 40px;
  border: 2px solid $link-color;
  border-radius: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: $bg-color-dark;
}
