@use '@/index.scss' as *;
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  background-color: $bg-color-dark;
  color: $font-color-light;
  text-align: center;
  margin: 0 !important;
}

.nav {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;

  .navItem {
    background: none;
    border: none;
    color: $font-color-light;
    font-weight: 600;
    cursor: pointer;
    transition: all $transition-base;

    &:hover,
    &.active {
      text-shadow:
              0 0 4px $link-color,
              0 0 8px $link-color,
              0 0 12px $link-color;
      transform: scale(1.05);
    }
  }
}

.socials {
  display: flex;
  gap: 1rem;

  a {
    display: flex;
    transition: all $transition-base;

    &:hover {
      transform: scale(1.05);
      svg {
        color: $link-color;
      }
    }

    svg {
      width: 24px;
      height: 24px;
      color: $font-color-light;
      transition: all $transition-base;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 0.9rem;

  a {
    color: $link-color;
    transition: all $transition-base;

    &:hover {
      text-shadow:
              0 0 4px $link-color,
              0 0 8px $link-color,
              0 0 12px $link-color;
      transform: scale(1.05);
      display: inline-block;
    }
  }
}

.copyright {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 0.5rem;
}
